footer {
    background: rgba(0, 0, 0, 1);
}

.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;


    &__github {
        padding-left: 50px;
        text-decoration: none;
        transition: all 400ms ease;

        &:hover {
            filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
            text-decoration: underline;
        }
    }
}